/* 0 0 1 */
body {
    font: 400 15px Tahoma; /*Familia sans-serif*/
    line-height: 1.8;
    color: #818181;
    margin: auto 5% auto;
}

/* 0 0 1 */
nav {
    color: rgb(5, 184, 100);
}

/* 0 0 2 */
nav table {
    margin: auto;
    table-layout: fixed;
    width: 80%;
    color:rgb(1, 107, 58);
    background-color: white;
}

/* 0 0 1 */
h1 {
    background-color:rgb(114, 73, 27); 
    color: gold;
    text-transform: uppercase;
    padding: 3em 25px;
    text-align: center;     
}

/* 0 0 1 */
h2 {
    color: rgb(1, 107, 58);
}

/* 0 0 1 */
h3 {
    color: black;
}

/* 0 0 1 */
p {
    font: 400 15px Arial;
}

/* 0 0 1 */
table {
    width: 100%;
    background-color: rgb(227, 230, 231); 
    color: black;
}

/* 0 0 1 */
td,th { 
    border: solid thin; 
    height: 1.4em; 
    width: 1.4em; 
    text-align: center;
}

/* 0 0 2 */
h3 + img, header + img {
    width: 100%;
}

/* 0 0 1 */
video {
    width: 100%;
    margin: auto auto 5em;
}

/* 0 0 1 */
footer {
    text-align: center; 
    margin: 3em auto 2em;
}

/* 0 1 0 */
.nominacion {
    background-color: #f5cccc;
}

/* 0 1 0 */
.ganador {
    background-color: #7bfd7b;
}




